{% load static %}<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{% block title %}Browser Game{% endblock %}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    {% block stylesheet %}{% endblock %}
  </head>
  <body>
    {% block body %}
      <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
        <div class="container">
          <a class="navbar-brand" href={% url 'home' %} style="margin-right:20px;">Browser Game</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainMenu" aria-controls="mainMenu" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="mainMenu">
            {% if user.is_authenticated %}
              <ul class="navbar-nav">
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="marketMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Marché</a>
                  <div class="dropdown-menu" aria-labelledby="marketMenu">
                    <a class="dropdown-item" href={% url 'offers' 'buy' %}>Achat</a>
                    <a class="dropdown-item" href={% url 'offers' 'sell' %}>Vente</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href={% url 'new_offer' %}>Poster une annonce</a>
                  </div>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="productionMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Production</a>
                  <div class="dropdown-menu" aria-labelledby="productionMenu">
                    <a class="dropdown-item" href={% url 'production' 'farm' %}>Fermes</a>
                    <a class="dropdown-item" href={% url 'production' 'factory' %}>Usines</a>
                    <a class="dropdown-item" href={% url 'production' 'exploit' %}>Exploitation</a>
                  </div>
                </li>
                <li>
                  <a class="nav-link" href={% url 'stock' %}>Stocks</a>
                </li>
                <li>
                  <a class="nav-link" href={% url 'transaction_log' %}>Journal des transactions</a>
                </li>
              </ul>
              <ul class="navbar-nav ml-auto">
                <li class="nav-item" style="margin-right:20px;">
                  <span class="navbar-text">{{ user.player.money|floatformat:2 }} €</span>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="userMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{ user.username }}
                  </a>
                  <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userMenu">
                    <a class="dropdown-item" href="#">Mon compte</a>
                    <a class="dropdown-item" href={% url 'password_change' %}>Changer de mot de passe</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href={% url 'logout' %}>Se déconnecter</a>
                  </div>
                </li>
              </ul>
            {% else %}
              <form class="form-inline ml-auto">
                <a href={% url 'login' %} class="btn btn-outline-secondary">Se connecter</a>
                <a href={% url 'signup' %} class="btn btn-primary ml-2">S’inscrire</a>
              </form>
            {% endif %}
          </div>
        </div>
      </nav>
      <div class="container">
        {% block content %}
        {% endblock %}
      </div>
    {% endblock body %}
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
  </body>
</html>
