{% extends "base.html" %}

{% block title %}Acheter un terrain{% endblock %}

{% block content %}
  <div class="row justify-content-center">
    <div class="col-lg-4 col-md-6 col-sm-8">
      <div class="card">
        <div class="card-body">
          {% if messages %}
            {% for message in messages %}
              <div class="alert alert-{{ message.tags }}" role="alert">
                {{ message }}
              </div>
            {% endfor %}
          {% endif %}
          <h3 class="card-title">Acheter un terrain</h3>
          <form method="post" novalidate>
            {% csrf_token %}
            {% include "includes/form.html" %}
            <button type="submit" class="btn btn-primary btn-block">Acheter ({{ field_price|floatformat:2 }} €)</button>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
