{% extends "base_accounts.html" %}

{% block title %}Se connecter{% endblock %}

{% block content %}
  <div class="row justify-content-center">
    <div class="col-lg-4 col-md-6 col-sm-8">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title">Se connecter</h3>
          <form method="post" novalidate>
            {% csrf_token %}
            {% include "includes/form.html" %}
            <button type="submit" class="btn btn-primary btn-block">Se connecter</button>
          </form>
        </div>
        <div class="card-footer text-muted text-center">
          Vous êtes nouveau ? <a href={% url 'signup' %}>S’inscrire</a>
        </div>
      </div>
      <div class="text-center py-2">
        <small>
          <a href={% url 'password_reset' %} class="text-muted">Vous avez oublié votre mot de passe ?</a>
        </small>
      </div>
    </div>
  </div>
{% endblock %}
