{% extends "base.html" %}
{% load core_extras %}

{% block title %}Annonces{% endblock %}

{% block content %}
<h1 class="text-center">
  {% if action == 'buy' %}
    <a href={% url 'offers' 'buy' %}>Offres de vente</a>
  {% else %}
    <a href={% url 'offers' 'sell' %}>Offres d’achat</a>
  {% endif %}
</h1>

{% if messages %}
  {% for message in messages %}
    <div class="alert alert-{{ message.tags }}" role="alert">
      {{ message }}
    </div>
  {% endfor %}
{% endif %}
<table class="table table-striped" style="text-align:center;">
  <thead>
    <tr>
      <th scope="col">{% if action == 'buy' %}Vendeur{% else %}Acheteur{% endif %}</th>
      <th scope="col">Quantité</th>
      <th scope="col">Cours</th>
      <th scope="col">Prix</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    {% for item in object_list %}
      <tr>
        <td>{{ item.player }}</td>
        <td>{{ item.quantity|floatformat:"-2" }}</td>
        <td>{{ rate }}</td>
        <td>{{ item.price }}</td>
        <td><form method="post">
          {% csrf_token %}
          {% for field in form %}
            {{ field }} <button type="submit" name={{ item.pk|nospace }} value={{ item.quantity }} class="btn btn-secondary btn-sm">{% if action == 'buy' %}Acheter{% else %}Vendre{% endif %}</button>
          {% endfor %}
        </form></td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
