{% extends "base.html" %}
{% load core_extras %}

{% block title %}Annonces{% endblock %}

{% block content %}
  <h1 class="text-center">
    {% if action == "buy" %}Acheter{% else %}Vendre{% endif %}
  </h1>

  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Produit</th>
        <th scope="col">Cours</th>
        <th scope="col">Nombre d’offres</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      {% for item in object_list %}
        <tr>
          <td>{{ item.name }}</td>
          <td>{{ item.price }}</td>
          <td>{{ offers_nb|lookup:item.pk }}</td>
          {% if action == "buy" %}
            <td><a href={% url 'market' action='buy' item=item.slug %}>Voir</a></td>
          {% else %}
            <td><a href={% url 'market' action='sell' item=item.slug %}>Voir</a></td>
          {% endif %}
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
