{% extends "base.html" %}

{% block title %}Modification de mot de passe{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-lg-6 col-md-8 col-sm-10">
      <form method="post" novalidate>
        {% csrf_token %}
        {% include "includes/form.html" %}
        <button type="submit" class="btn btn-success">Modifier le mot de passe</button>
      </form>
    </div>
  </div>
{% endblock %}
