{% extends "base_accounts.html" %}

{% block title %}Changement de mot de passe{% endblock %}

{% block content %}
  <div class="row justify-content-center">
    <div class="col-lg-4 col-md-6 col-sm-8">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title">Changer de mot de passe</h3>
          <p>Vous avez reçu un courriel avec un lien pour changer de mot de passe. Si vous ne le voyez pas, attendez quelques minutes et regardez dans vos spams.</p>
          <a href={% url 'login' %} class="btn btn-secondary btn-block">Se connecter</a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
