{% extends "base_accounts.html" %}

{% block title %}Changement de mot de passe{% endblock %}

{% block content %}
  <div class="row justify-content-center">
    <div class="col-lg-4 col-md-6 col-sm-8">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title text-center">Changer de mot de passe</h3>
          <p>Entrez votre adresse email pour recevoir un lien afin de changer votre mot de passe.</p>
          <form method="post" novalidate>
            {% csrf_token %}
            {% include "includes/form.html" %}
            <button type="submit" class="btn btn-primary btn-block">Envoyer un courriel</button>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
