{% extends "base_accounts.html" %}

{% block title %}
  {% if validlink %}
    Changement de mot de passe pour {{form.user.username }}
  {% else %}
    Changement de mot de passe
  {% endif %}
{% endblock %}

{% block content %}
  <div class="row justify-content-center">
    <div class="col-lg-6 col-md-8 col-sm-10">
      <div class="card">
        <div class="card-body">
          {% if validlink %}
            <h3 class="card-title">Changer de mot de passe pour @{{ form.user.username }}</h3>
            <form method="post" novalidate>
              {% csrf_token %}
              {% include "includes/form.html" %}
              <button type="submit" class="btn btn-success btn-block">Changer de mot de passe</button>
            </form>
          {% else %}
            <h3 class="card-title">Changement de mot de passe</h3>
            <div class="alert alert-danger" role="alert">
              Il semble que vous ayez cliqué sur un lien invalide de changement de mot de passe. Veuillez réessayer.
            </div>
            <a href={% url 'password_reset' %} class="btn btn-secondary btn-block">Renvoyer un mail</a>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}
