{% extends "base.html" %}

{% block title %}Mot de passe modifié avec succès !{% endblock %}

{% block content %}
  <div class="alert alert-success" role="alert">
    Votre mot de passe a été modifié avec succès !
  </div>
  <a href={% url 'home' %} class="btn btn-secondary">Retourner à la page d’accueil</a>
{% endblock %}
