{% extends "base_accounts.html" %}

{% block title %}Mot de passe changé !{% endblock %}

{% block content %}
  <div class="row justify-content-center">
    <div class="col-lg-6 col-md-8 col-sm-10">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title">Mot de passe changé !</h3>
          <div class="alert alert-success" role="alert">
            Vous avez modifié votre mot de passe avec succès ! Vous pouvez maintenant vous connecter.
          </div>
          <a href={% url 'login' %} class="btn btn-secondary btn-block">Se connecter</a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
