{% extends "base.html" %}

{% block title %}Production{% endblock %}

{% block content %}
  <h1 class="text-center">Production</h1>

  {% if messages %}
    {% for message in messages %}
      <div class="alert alert-{{ message.tags }}" role="alert">
        {{ message }}
      </div>
    {% endfor %}
  {% endif %}

  <p><a href={% url 'buy_field' view.kwargs.activity %}>Acheter un terrain</a> ({{ field_price|floatformat:2 }} €)</p>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Nom</th>
        <th>Produit</th>
        <th>Productivité</th>
      </tr>
    </thead>
    <tbody>
      {% for field in object_list %}
        <tr>
          <td>{{ field.pk }}</td>
          <td>{{ field.product }}</td>
          <td>{{ field.product.productivity }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
