{% extends "base_accounts.html" %}

{% block title %}S’inscrire{% endblock %}

{% block content %}
  <div class="row justify-content-center">
    <div class="col-lg-8 col-md-10 col-sm-12">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title">Connexion</h3>
          <form method="post" novalidate>
            {% csrf_token %}
            {% include "includes/form.html" %}
            <button type="submit" class="btn btn-primary btn-block">Créer un compte</button>
          </form>
        </div>
        <div class="card-footer text-muted text-center">
          Déjà un compte ? <a href={% url 'login' %}>Se connecter</a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
