{% extends "base.html" %}

{% block title %}Mes stocks{% endblock %}

{% block content %}
  <h1 class="text-center">Mes stocks</h1>

  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Produit</th>
        <th scope="col">Quantité</th>
        <th scope="col">Cours</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      {% for item in object_list %}
      <tr>
        <td>{{ item.product|capfirst }}</td>
        <td>{{ item.quantity|floatformat:"-2" }}</td>
        <td>{{ item.product.price }}</td>
        <td><a href={% url 'market' 'buy' item.product.slug %}>Acheter</a> - <a href={% url 'market' 'sell' item.product.slug %}>Vendre</a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
