{% extends "base.html" %}

{% block title %}Journal des transactions{% endblock %}

{% block content %}
  <h1 class="text-center">Journal des transactions</h1>

  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Date</th>
        <th scope="col">Vendeur</th>
        <th scope="col">Acheteur</th>
        <th scope="col">Produit</th>
        <th scope="col">Prix</th>
        <th scope="col">Quantité</th>
      </tr>
    </thead>
    <tbody>
      {% for item in object_list %}
        <tr>
          <td>{{ item.created_date }}</td>
          <td>{{ item.seller }}</td>
          <td>{{ item.buyer }}</td>
          <td>{{ item.product }}</td>
          <td>{{ item.price }}</td>
          <td>{{ item.quantity }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
